body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
margin: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 170px;
}
.btn:hover {
  background-color: #0056b3;
}

